<!-- ======= Footer ======= -->
<footer class="sticky bottom-0 w-full bg-gray-900 shadow-inner py-4 mt-8">
    <div class="container mx-auto px-4 text-center text-gray-400">
        <p>&copy; {{ "now"|date('Y') }} IWF - Internet Wrestling Federation. All rights reserved.</p>
    </div>
</footer>
{% if route_action == 'match' %}
<script type="module" src="{{ template_url }}assets/js/data.js"></script>
{# This tells Twig to only load app.js if a variable named 'load_app_js' is not defined or is false #}
{% if load_app_js is not defined or load_app_js == false %}
    <script src="{{ base_url }}assets/js/app.js"></script>
{% endif %}
<script type="module" src="{{ template_url }}assets/js/dom.js"></script>
{% endif %}
{% if route_action == 'booking' %}
<script type="module" src="{{ template_url }}assets/js/booking.js"></script>
{% endif %}